.slider {
    margin: 0;
    padding: 0;
    width:  400px;
    height: 300px;
    position: relative;
}

.s-wrap {
    position: relative;
    background-color: forestgreen;
}

.s-container {
    display: flex;
    transition: 1s ease;
}

.s-container li {
    list-style-type: none;
    display: inline-block;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.s-container li > img {
    display: none;
}

.s-btn  {
    position: absolute;
    top: 100%;
}

.s-btn_next {
    right: 0;
}

.s-pagination {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.s-pagination__item {
    cursor: pointer;
    display: inline-block;
    width: 20px;
    line-height: 20px;
    text-align: center;
    margin: 0 10px;
    border: 1px solid grey
}